# --- PYTHON & CDK ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env
.pytest_cache/
cdk.out/
.cdk.staging/

# --- TERRAFORM ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
tfplan
tfplan.json
*.tfvars
*.tfvars.json

# --- SYSTEM & IDE ---
.DS_Store
.idea/
.vscode/
*.swp
*.log
